.container {
  display: flex;
  height: 100px;
}

.header {
  height: 100px;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.logo img {
  width: 90px;
  padding: 8px;
  margin-left: 70px;
}
.about {
  text-decoration: none !important;

  margin-top: 30px;
  margin-right: 80px;
}
